{
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "printWidth": 120
}
